<!DOCTYPE html>
<html lang="en">
<head>
    <title>Checkout</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <meta charset = "utf-8"></meta>
</head>
<style >
post{
  color:green!important;

}
</style>
<body>

  <div class="topBar">


        <ul style="list-style-type: none;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/main">Browse Books</a>
              <a class="dropdown-item" href="/editprofile">Edit Profile</a>
              <a class="dropdown-item" href="/checkoutmenu">View Shopping Cart</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
          </li>
       </ul>

       </div>


       <div class="jumbotron">
             <div class="container">
               <h1 class="display-2">Checkout</h1>
                <hr class = "my-4">
               <p class="lead">Please review cart and enter requested information to place order.</p>
                <hr class = "my-4">
             </div>



                 <ul class="nav nav-pills nav-justified">
                   <li class="nav-item">
                     <a class="nav-link" href="/editprofile">View Account</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/checkoutmenu">View Shopping Cart</a>
                   </li>
               </ul>
           </div>



<!--Container for order summary and iinfo input-->






<div class="container">
<a href="/main">Browse more books</a>
<br>

  {% if promoFound %}

                    <div class="flashes">
                    {% for message in get_flashed_messages() %}
                      {{ message }}
                    {% endfor %}
                  </div>
                  {% endif %}
                  <br>
<div class="row">
  <div class="col-8">

      <table class="table">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Book Title</th>

                <th>Price (per unit)</th>


          </tr>
        </thead>
        <tbody>

          {% for info in book %}

          <tr>

    <td>{{info[0]}}</td>
    <td>{{info[1]}}</td>
    <td>{{info[2]}}</td>
    {% endfor %}

          </tr>
        </tbody>
      </table>
      <hr></hr>
      <p>Fee: ${{fee}}</p>
      <p>Sales Tax: ${{salesTax}}</p>
      {% if not promoFound %}
      <h4>Total: ${{total}}</h4>
      {% endif %}
      {% if promoFound %}
      <h4>Old Total: ${{totalBeforePromo}}</h4>
      <h4>New Total: ${{total}}</h4>
      {% endif %}
</div>
<div class="col-3">
      <table class="table ">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Update</th>

          </tr>
        </thead>
        <tbody>
          {%if valuePresent%}
{% for key,value in quantity|dictsort %}
<tr>
<form class = "form" action = "/checkoutmenu" method = "POST">

<td>

  <select class="custom-select" name="quantity" id="quantity">
   <option value="{{ value }}">{{ value }}</option>
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
   <option value="6">6</option>
   <option value="7">7</option>
   <option value="8">8</option>
   <option value="9">9</option>
   <option value="10">10</option>
   <option value="0">0</option>
 </select>

</td>
<td>
 <div class="">

    <button class="btn btn-secondary" name="submit_button" id="update" value="{{ key }}">Update</button>
 </div>

</td>
 </form>

  {% endfor %}
 {%endif%}

          </tr>

        </tbody>
      </table>
    </div>
  </div>






    <!--first column-->


    <!--second column-->
    <br>
    <div class="col">
        <!--start of accordion-->
      <div class="accordion" id="checkout">
        <form action="" method = "POST">
          <!--customer info card-->
        <div class="card">
          <div class="card-header" id="customerHeader">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Step 1: Customer Information
              </button>
            </h2>
          </div>
      <!---collapse form for Customer Info-->
          <div id="collapseOne" class="collapse show" aria-labelledby="customerHeader" data-parent="#checkout">
            <div class="card-body">

                    <div class="form-row">
                      <div class="form-group col">
                        <label for ="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" value="{{fName}}">
                      </div>
                      <div class="form-group col">
                        <label for ="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" value="{{lName}}">
                      </div>
                    </div>

                      <div class="form-group">
                      <label for ="email">Email: </label>
                      <input type="text" class = "form-control" name="email" value="{{email}}">
                        </div>


            </div>
          </div>
        </div>
        <!--Shipping info card-->
        <div class="card">
          <div class="card-header" id="shippingHeader">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Step 2: Shipping Information
              </button>
            </h2>
          </div>
        <!---collapse form for Shipping Information-->
          <div id="collapseTwo" class="collapse" aria-labelledby="shippingHeader" data-parent="#checkout">
            <div class="card-body">

                    <div class="form-group">
                      <label for="address1">Address</label>
                      <input type="text" class="form-control" name="address1" value="{{address1}}" placeholder="Enter address 1">
                    </div>
                    <div class="form-group">
                      <label for="address2">Address 2</label>
                      <input type="text" class="form-control" name="address2" value="{{address2}}" placeholder="Enter address 2">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" value = "{{city}}" placeholder="Enter city">
                      </div>
                      <div class="form-group col-2">
                        <label for="state">State</label>
                        <select name="state" class="form-control" value = "{{state}}" >
                          <option selected></option>
                          <!--add all state options broh-->
                          <option>AL</option>
                          <option>AK</option>
                          <option>AS</option>
                          <option>AZ</option>
                          <option>AR</option>
                          <option>CA</option>
                          <option>CO</option>
                          <option>CT</option>
                          <option>DE</option> <!--I'm already regretting this-->
                          <option>DC</option>
                          <option>FL</option>
                          <option>GA</option>
                          <option>GU</option>
                          <option>HI</option>
                          <option>ID</option>
                          <option>IL</option>
                          <option>IN</option>
                          <option>IA</option>
                          <option>KS</option>
                          <option>KY</option>
                          <option>LA</option>
                          <option>ME</option>
                          <option>MD</option>
                          <option>MH</option>
                          <option>MA</option>
                          <option>MI</option>
                          <option>FM</option>
                          <option>MN</option>
                          <option>MS</option>
                          <option>MO</option>
                          <option>MT</option>
                          <option>NE</option>
                          <option>NV</option>
                          <option>NH</option>
                          <option>NJ</option>
                          <option>NM</option>
                          <option>NY</option>
                          <option>NC</option>
                          <option>ND</option>
                          <option>MP</option>
                          <option>OH</option>
                          <option>OK</option>
                          <option>OR</option>
                          <option>PW</option>
                          <option>PA</option>
                          <option>PR</option>
                          <option>RI</option>
                          <option>SC</option>
                          <option>SD</option>
                          <option>TN</option>
                          <option>TX</option>
                          <option>UT</option>
                          <option>VT</option>
                          <option>VA</option>
                          <option>VI</option>
                          <option>WA</option>
                          <option>WV</option>
                          <option>WI</option>
                          <option>WY</option>
                        </select>
                      </div>

                      <div class="form-group col-3">
                        <label for="zipcode">Zip</label>
                        <input type="text" class="form-control" name="zipcode" value = "{{zipcode}}" placeholder="Enter zipcode">
                      </div>
                    </div>


            </div>
          </div>
        </div>
        <!--Billing info card-->
        <div class="card">
            <div class="card-header" id="billingHeader">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Step 3: Billing Address
                </button>
              </h2>
            </div>
        <!---collapse form for Billing Info-->
            <div id="collapseThree" class="collapse" aria-labelledby="billingHeader" data-parent="#checkout">
              <div class="card-body">

                    <div class="form-group">
                      <label for="baddress1">Address</label>
                      <input type="text" class="form-control" name="baddress1" value="{{address1}}" placeholder="Enter address 1">
                    </div>
                    <div class="form-group">
                      <label for="baddress2">Address 2</label>
                      <input type="text" class="form-control" name="baddress2" value="{{address2}}" placeholder="Enter address 2">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="bcity">City</label>
                        <input type="text" class="form-control" name="bcity" value="{{city}}" placeholder="Enter city">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="bstate">State</label>
                        <select name="bstate" class="form-control">
                          <option selected></option>
                          <!--add all state options broh-->
                          <option>AL</option>
                          <option>AK</option>
                          <option>AS</option>
                          <option>AZ</option>
                          <option>AR</option>
                          <option>CA</option>
                          <option>CO</option>
                          <option>CT</option>
                          <option>DE</option> <!--I'm already regretting this-->
                          <option>DC</option>
                          <option>FL</option>
                          <option>GA</option>
                          <option>GU</option>
                          <option>HI</option>
                          <option>ID</option>
                          <option>IL</option>
                          <option>IN</option>
                          <option>IA</option>
                          <option>KS</option>
                          <option>KY</option>
                          <option>LA</option>
                          <option>ME</option>
                          <option>MD</option>
                          <option>MH</option>
                          <option>MA</option>
                          <option>MI</option>
                          <option>FM</option>
                          <option>MN</option>
                          <option>MS</option>
                          <option>MO</option>
                          <option>MT</option>
                          <option>NE</option>
                          <option>NV</option>
                          <option>NH</option>
                          <option>NJ</option>
                          <option>NM</option>
                          <option>NY</option>
                          <option>NC</option>
                          <option>ND</option>
                          <option>MP</option>
                          <option>OH</option>
                          <option>OK</option>
                          <option>OR</option>
                          <option>PW</option>
                          <option>PA</option>
                          <option>PR</option>
                          <option>RI</option>
                          <option>SC</option>
                          <option>SD</option>
                          <option>TN</option>
                          <option>TX</option>
                          <option>UT</option>
                          <option>VT</option>
                          <option>VA</option>
                          <option>VI</option>
                          <option>WA</option>
                          <option>WV</option>
                          <option>WI</option>
                          <option>WY</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="bzipcode">Zip</label>
                        <input type="text" class="form-control" name="bzipcode" value="{{zipcode}}" placeholder="Enter zipcode">
                      </div>
                    </div>
              </div>
            </div>
          </div>

        <!--Payment Method card-->
        <div class="card">
          <div class="card-header" id="paymentHeader">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Step 4: Payment Method
              </button>
            </h2>
          </div>
          <!--collapse form for payment information-->
          <div id="collapseFour" class="collapse" aria-labelledby="paymentHeader" data-parent="#checkout">
            <div class="card-body">
              <div class="form-group">

                <label for="cardName">Name on Card</label>
                <input type="text" class="form-control" name="cardName" value="{{cardName}}" placeholder="Enter name">
            </div>
                <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                  </div>
                <div class="form-group">

                    <label for="cardNum">Credit Card No.</label>
                    <input type="text" class="form-control" name="cardNum" value="{{cardNumber}}" placeholder="{{cardNumber}}" placeholder="Enter card number">
                </div>
                <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="expirationDate">Expiration Date</label>
                    <input type="text" class="form-control" name="expirationDate" value="{{expirationDate}}" placeholder="MM/YY">
                </div>
                <div class="form-group col-md-4">
                  <label for="cardType">Type</label>
                  <select name="cardType" class="form-control" value = "{{cardType}}">
                    <option selected></option>
                    <option>Credit</option>
                    <option>Debit</option>
                    </select>
                </div>
                </div>
                <div class="form-row">
                <button type="submit" name="submit_button" class="btn btn-primary" value="checkout">Checkout</button>
                </div>
          </div>
        </div>
        <label class="sr-only" >Promo Code</label>
           <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text">Promo Code:</div>
             </div>
             <input type="text" class="form-control" placeholder="Apply promo code" name="promoCode">
             <div class="input-group-append">
               <button class="btn btn-primary"type="submit" name="submit_button" id="addtocart" value="applypromo">Apply</button>
             </div>
           </div>

        </form>
      </div>
      <br>
      <!--<div class="form-group">-->



        </div>

</div>
</div>

</div>


</body>
</html>
