<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <style>
  post{
    color:green!important;

  }
    p {
      display: inline
    }

    form > button:hover
    {
      background-color:#196F3D !important;
      border-color:#196F3D !important;
      margin-right:10px;
    }

    form > button
    {
      background-color:black !important;
      border-color:white !important;
      color:white !important;
      margin-right:10px;
    }

    form > a
    {
      color: white !important;
      background-color: #839192    !important;
      border-color:#839192   !important;
    }

    form > a:hover
    {
      color: white !important;
      background-color: #717D7E  !important;
      border-color:#717D7E !important;
    }



  </style>

<body>

    <div class="topBar">

        <ul style="list-style-type: none;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/main">Browse Books</a>
              <a class="dropdown-item" href="/editprofile">Edit Profile</a>
              <a class="dropdown-item" href="/checkoutmenu">View Shopping Cart</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
          </li>
       </ul>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-2">Edit Profile</h1>
        <hr class = "my-4">
        <p class="lead">Please update information, if needed.</p>
        <hr class = "my-4">
      </div>


          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="/editprofile">View Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/checkoutmenu">View Shopping Cart</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <h2>User Profile</h2>

        <div class="flashes">
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </div>


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#person">Personal Details</a>
          </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#promo">Promotion Preferences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#status">User ID / Status</a>
        </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- person-->

          <div id="person" class="container tab-pane active"><br>
            <div class="container">
              <h3>Personal Details</h3>
                <form action = "/editprofile" class="was-validated" method = "POST"><table class="table"><tbody>
                    <tr>
                      <td>
                        <div class= "row">
                          <div class="col">
                          <div class="form-group">

                              <h6>First Name:</h6><p>{{fName}}</p>
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#fNameCollapse">Edit</button>
                              <div id="fNameCollapse" class="collapse">
                                  <input class="form-control" id="fName" placeholder="Enter new first name" name="firstName">
                              </div>
                        </div>
                      </div>
                        <div class="col">
                        <div class="form-group">
                          <h6>Last Name:</h6><p>{{lName}}</p>
                          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#lNameCollapse ">Edit</button>
                          <div id="lNameCollapse" class="collapse">
                              <input class="form-control" id="lName" placeholder="Enter new last name" name="lastName">
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                    </tr>
                  <tr>
                    <td>
                  <div class="form-group">
                        <h6>Email:</h6> <p>{{email}}</p>

                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <div class="form-group">
                        <h6>Password:</h6><p>*******</p>
                        <a href="{{url_for('changePassword')}}">Change Password</a>

                    </div>
                    </td>
                    </tr>
                    <tr><td>
                  <div class="form-group">
                    <h6>Phone Number:</h6><p>{{phoneNum}}</p>
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#phoneCollapse">Edit</button>
                    <div id="phoneCollapse" class="collapse">
                        <input class="form-control" id="phone" placeholder="Enter new phone number" name="phoneNumber">
                    </div>
                  </div>
                  </td>
                  </tr>


                  </tbody>
                  </table>

                  <!--address-->
                  <h3 id="address" >Address Details</h3>
                  <table class="table"><tbody>

                      <tr>
                        <td>
                    <div class="form-group">
                      <h6>Address Line 1:</h6><p>{{address1}}</p>
                      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#add1Collapse">Edit</button>
                      <div id="add1Collapse" class="collapse">
                          <input class="form-control" id="address1" placeholder="Enter new address" name="address1">
                      </div>
                    </div>
                    </td>
                      </tr>
                      <tr>
                        <td>
                    <div class="form-group">
                      <h6>Address Line 2 (optional):</h6><p>{{address2}}</p>
                      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#add2Collapse">Edit</button>
                      <div id="add2Collapse" class="collapse">
                          <input class="form-control" id="add2" placeholder="Enter new address" name="address2">
                      </div>
                    </div>
                    </td>
                      </tr>
                    </tr>
                    <tr>
                      <td>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <h6>Zip Code:</h6><p>{{zipcode}}</p>
                          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#zipCollapse">Edit</button>
                          <div id="zipCollapse" class="collapse">
                              <input class="form-control" id="zip" placeholder="Enter new zip code" name="zipcode">
                          </div>
                        </div>
                          </div>
                      <div class="col">
                  <div class="form-group">
                    <h6>City:</h6><p>{{city}}</p>
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#cityCollapse">Edit</button>
                    <div id="cityCollapse" class="collapse">
                        <input class="form-control" id="city" placeholder="Enter new city" name="city">
                    </div>
                  </div>
                      </div>
                      <div class="col">
                    <div class="form-group">
                      <h6>State: {{state}}</h6>
                      <select class="form-control" id="state" name="state">
                        <option>AL</option>
                        <option>AK</option>
                        <option>AS</option>
                        <option>AZ</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option> <!--I'm already regretting this-->
                        <option>DC</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>GU</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MH</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>FM</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>MP</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PW</option>
                        <option>PA</option>
                        <option>PR</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VA</option>
                        <option>VI</option>
                        <option>WA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                      </select>

                    </div>
                    </div>
                    </div>
                    </td>
                      </tr>
                    </tbody>
                    </table>

                    <!--payment-->
                    <h3 id="payment">Payment Details</h3>
                    <table class="table"><tbody>
                        <tr>
                          <td>
                        <div class="form-group">
                            <h6>Name:</h6><p>{{cardName}}</p>
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#cardNameCollapse">Edit</button>
                            <div id="cardNameCollapse" class="collapse">
                                <input class="form-control" id="ccn" placeholder="**** **** **** ****" name="cardName">
                            </div>
                      </div>
                        </td>
                          <td>
                        <div class="form-group">
                            <h6>Credit Card #:</h6><p>****-****-****-****</p>
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#cardNumberCollapse">Edit</button>
                            <div id="cardNumberCollapse" class="collapse">
                                <input class="form-control" id="ccn" placeholder="**** **** **** ****" name="cardNumber">
                            </div>
                      </div>
                        </td>
                        <td>
                      <div class="form-group">
                          <h6>Type:</h6><p>{{cardType}}</p>
                          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#cardTypeCollapse">Edit</button>
                          <div id="cardTypeCollapse" class="collapse">
                              <input class="form-control" id="ccn" placeholder="**** **** **** ****" name="cardType">
                          </div>
                    </div>
                      </td>


                        <td>
                      <div class="form-group">
                        <h6>Expiration Date:</h6><p>{{expirationDate}}</p>
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#expCollapse">Edit</button>
                        <div id="expCollapse" class="collapse">
                            <input class="form-control" id="exp" placeholder="MMYY" name="expirationDate">
                        </div>
                      </div>
                      </td>
                      </tr>
                      </tbody>
                      </table>

                <button type="submit" class="btn btn-primary">Update</button>
                <a href="/main" class="btn btn-secondary">Cancel</a>
    </form>
                </div>
            </div>



          <!--Status-->
          <div id="status" class="container tab-pane fade"><br>
            <h6>Id: {{id}}</h6>
            <h6>Account Status: </h6><p>{{status}}</p>
              {% if status == 'Unverified' %}
              <p> <a href="/account_verification">verify</a></p>
            {% endif %}

          </div>

          <!--Promo-->
          <div id="promo" class="container tab-pane fade"><br>
            <h6>Promotion Preferences: </h6><p>{{promo}}</p>

            <form  method="POST" action="{{url_for('promoUpdate')}}">
              <button name="button" type="submit" value="pref">Change Preferences</button>
            </form>


          </div>
        </div>
      </div>
<br>
</body>
</html>
