<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <style>

  post{
    color:red!important;

  }
  div > div > a
{

  background-color:white !important;
  border-color:white!important;
  color:#196F3D;
  width:225px;
  font-size:15px;
}

  div > div > a:hover
{
  background-color:#196F3D !important;
  border-color:#196F3D !important;
  color:white !important;
}





  body
  {
    background-color:#FOF3F4 !important;
  }

  input
  {
    border-color:#196F3D !important;
  }

  form > button:hover
  {
    background-color:#196F3D !important;
    border-color:#196F3D !important;
  }

  form > button
  {
    background-color:black !important;
    border-color:white !important;
    color:white !important;
  }
  ul > li  > a
  {
    color: white !important;
    background-color: #839192    !important;
    border-color:#839192   !important;
  }

  ul > li  > a:hover
  {
    color: white !important;
    background-color: #717D7E  !important;
    border-color:#717D7E !important;
  }



  a:hover
  {
    background-color:#196F3D !important;
    border-color:#196F3D !important;
    color:white!important;
  }
  </style>
  <body>

    <!--navbar-->
    <div class="topBar">

        <ul style="list-style-type: none;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/admin">Admin Homepage</a>
              <a class="dropdown-item" href="/viewbooks">View Books</a>
              <a class="dropdown-item" href="/addbook">Add a Book</a>
              <a class="dropdown-item" href="/sendPromo">Send Promo</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
          </li>
       </ul>
    </div>


<!--welcome-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-9">
        <h1 class="display-4">Add a Book</h1>
      </div>
      <div class="col-3">
        <br>
        <!--id popover-->
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="<pre>Name: Kimberly Nguyen<pre>Email: kimberly.nguyen@uga.edu<br>ID:01" data-html="true">
          Show Account Information
        </button>
      </div>
    </div>

    <hr class="my-4">
    <p class="lead">Add book information:</p>

  </div>
</div>


  <!--display books-->
  <div class="container">
    <!--book1-->
    <div class="row">




<div class="col-8 mx-auto">
  <a href="/viewbooks">Return back to View Books</a>
  <br><br>
  <div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>
  <form action="/addbook" class="was-validated" method = "POST" enctype="multipart/form-data">
  <div class="form">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" id="isbn" name="isbn" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>

  </div>

  <br>

    <div class="form">
      <label for="category">Category</label>
      <select class="form-control" id="category" name="category">
        <!--book genres: https://reference.yourdictionary.com/books-literature/different-types-of-books.html-->

        <option value="Action and Adventure">Action and Adventure</option>
        <option value="Children's">Children's</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Graphic Novel">Graphic Novel</option>
        <option value="Mystery">Mystery</option>
        <option value="Romance">Romance</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Biography">Biography</option>
        <option value="History">History</option>
        <option value="Textbook">Textbook</option>

      </select>

      <div class="invalid-feedback">Required</div>
    </div>

    <br>

    <div class="form">
      <label for="authorname">Author(s)' Name</label>
      <input type="text" class="form-control" id="author" name="author" required>
      <div class="valid-feedback">Valid</div>
      <div class="invalid-feedback">Required</div>
    </div>

    <br>

    <div class="form">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
      <div class="valid-feedback">Valid</div>
      <div class="invalid-feedback">Required</div>
    </div>

    <br>

    <div class="form">
      <label for="edition">Edition</label>
      <input type="text" class="form-control" id="edition" name="edition" required>
      <div class="valid-feedback">Valid</div>
      <div class="invalid-feedback">Required</div>
    </div>

    <br>

    <div class="form">
      <label for="publisher">Publisher</label>
      <input type="text" class="form-control" id="publisher" name="publisher" required>
      <div class="valid-feedback">Valid</div>
      <div class="invalid-feedback">Required</div>
    </div>

    <br>

  <div class="form">
    <label for="year">Publication Year</label>
    <input type="text" class="form-control" id="publicationYear" name="publicationYear" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>
  </div>

  <br>

  <div class="form">
    <label for="quantity">Quantity-In-Stock</label>
    <input type="text" class="form-control" id="quantity" name="quantity" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>
  </div>

  <br>

  <div class="form">
    <label for="buying">Buying Price ($)</label>
    <input type="text" class="form-control" id="buyingPrice" name="buyingPrice" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>
  </div>

  <br>

  <div class="form">
    <label for="selling">Selling Price ($)</label>
    <input type="text" class="form-control" id="sellingPrice" name="sellingPrice" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>
  </div>

  <br>

  <div class="form">
    <label for="rating">Rating (out of 5)</label>
    <input type="text" class="form-control" id="rating" name="rating" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>
  </div>

  <br>

  <div class="form">
    <label for="coverPicture">Cover Picture</label>
    <br>
    <input type="file" id="coverPicture" name="coverPicture" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Required</div>
  </div>




  <br>

  <button type="submit" class="btn btn-primary">Update</button>
  <a href="/admin" class="btn btn-secondary">Cancel</a>

  <br><br>
</form>

</div>
</div>
  </div>


<!--testing image upload
  <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
<p><label for="file" style="cursor: pointer;">Upload Image</label></p>
<p><img id="output" width="200" /></p>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
-->

  <!--script for id popover-->
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>

  </body>
</html>
