
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Homepage</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <meta charset = "utf-8"></meta>

</head>
<style>
img {
  height: 330px !important;

}

div > div > a
{

background-color:#196F3D !important;
border-color:#196F3D!important;
color:white !important;

}

div > div > a:hover
{

background-color:gray !important;
border-color:gray!important;
color:white !important;

}

</style>
<body>

  <div class="topBar">

        <div class = "row">
        <div class="col">
        <ul style="list-style-type: none;">
        <li class="nav-item dropdown">
            <a class="nav-lifnk dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/editprofile">Edit Profile</a>
              <a class="dropdown-item" href="#">Shopping Cart</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
          </li>
       </ul>
       </div>
         <div class="col">
         </div>
         <div class="col">
         </div>
           <div class="col">
           </div>
       <div class="col">
         </div>
       </div>
       </div>
    </div>

<div class="jumbotron">
      <div class="container">
        <h1 class="display-2">Promotion/News</h1>
        <p class="lead">This is where we can advertise promos and stuff</p>
      </div>
          <hr class = "my-4">
          <form class="form" action="/" method="POST">
            <div class="input-group mt-3 mb-3">


                    <select class="custom-select" id="searchfilter" name="searchfilter" style="max-width:12%;">

                      <option value="Title">Title</option>
                      <option value="Subject">Subject</option>
                      <option value="ISBN">ISBN</option>
                      <option value="Author">Author</option>
                      <option value="Clear">Clear Filters</option>
                    </select>

                  <input type="text" class="form-control" name="search" placeholder="Enter book information">

                  <div class="input-group-append">

                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                  </div>
                </div>
          </form>
          <hr class = "my-4">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="edit_profile.html">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="order_history.html">Manage Orders</a>
            </li>
        </ul>
    </div>

</div>

<div class="container">
    <br>
    <h1>Recommended Books</h1>
    <hr>
    {%if request.form.search%}
    <p>Results for {{searchfilter}} : {{ request.form.search}}</p>
    {%endif%}

    <br>

        <div class="row">
          {% for info in book|sort(attribute='title') %}


            <div class="col-3" >
                    <div class="card" >
                        <img class="card-img-top" src="static/images/{{ info[3] }}" alt="cover picture of {{info[0]}}">
                        <div class="card-body">
                        <h4 class="card-title">{{info[0]}}</h4>
                        <i class="card-text">By {{info[1]}}</i>
                        <p class="card-text">Price: ${{info[2]}}</p>
                        <a href="#" class="btn btn-block">View Details</a>
                        <a href="#" class="btn btn-block">Add to Cart</a>
                        </div>
                    </div>
            </div>


{% endfor %}
        </div>


</div>
<br><br>
</body>
</html>
