<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <style>

    .nav-pills > li > a
    {
      margin-left:17px;
      margin-right:5px;
      background-color:#196F3D !important;
      border-color:#196F3D !important;
      color:white;
      width:225px;
      font-size:15px;
    }

    .nav-pills > li > a:hover
    {
      background-color:white !important;
      border-color:white !important;
      color:black !important;
      width:225px;
      font-size:15px;
    }

  .nav-pills > .active > a
  {
    background-color:#FBFFB6 !important;
    border-color:#FBFFB6 !important;
    color:black !important;
    width:225px;
    font-size:15px;
  }

  a
  {
    margin-left:375px;
  }

  body
  {
    background-color:#FOF3F4 !important;
  }

  input
  {
    border-color:#196F3D !important;
  }

  form > button:hover
  {
    background-color:#196F3D !important;
    border-color:#196F3D !important;
  }

  form > button
  {
    background-color:black !important;
    border-color:white !important;
    color:white !important;
  }
  </style>
  <body>

<!--navbar-->
  <nav class="navbar sticky-top navbar-dark bg-dark">

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="admin.html" aria-controls="home">Home Page</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="manage_books.html" aria-controls="mbooks">Manage Books</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="manage_users.html" aria-controls="musers">Manage Users</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="manage_promos.html" aria-controls="mpromotions">Manage Promotions</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#logout" aria-controls="logout">Logout</a>
      </li>
    </ul>
    <br><br>
  <!--searchbar
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  -->
  </nav>


<!--welcome-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-9">
        <h1 class="display-4">Mange Books</h1>
      </div>
      <div class="col-3">
        <br>
        <!--id popover-->
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="ID# 999999999">
          Click This to Show ID
        </button>
      </div>
    </div>

    <hr class="my-4">
    <p class="lead">Edit book information:</p>
    <form class="form">
      <div class="row">

        <div class="col-9">


      <input class="form-control" type="search" placeholder="Search" aria-label="Search">

      </div>
      <div class="col-3">


      <button class="btn btn-outline-success" type="submit">Search</button>
</div>
      </div>
    </form>
  </div>
</div>


  <!--display books-->
  <div class="container">
    <!--book1-->
    <div class="row">


    <div class="col-6">


          <ul class="list-unstyled">
              <li class = "media">
                <img src="./Icons and temporary book pics/Book1.jpg"  class="align-self-start mr-3 searchImg" alt="...">
                  <div class="media-body">
                    <h4 class="mt-0 mb-1" style="font-weight: bold;">Book Name</h4>
                    <p>by Author </p>
                    <p>Rating: 10/10</p>
                    <p>ISBN: </p>
                    <p>Category: </p>
                    <p>Edition: </p>
                    <p>Publisher: </p>
                    <p>Publication Year: </p>
                    <p>Quantity-In-Stock: </p>
                    <p>Buying Price: </p>
                    <p>Selling Price: </p>

                  </div>
              </li>
          </ul>

</div>

<div class="col-6">

  <form>
  <div class="form">
    <label for="isbn">ISBN</label>
    <input type="number" class="form-control" aria-describedby="emailHelp">
  </div>

  <br>

    <div class="form">
      <label for="category">Category</label>
      <select class="form-control">
        <!--book genres: https://reference.yourdictionary.com/books-literature/different-types-of-books.html-->
        <option value="fiction">Action and Adventure</option>
        <option value="fiction">Alternative History</option>
        <option value="fiction">Anthology</option>
        <option value="fiction">Chick Lit</option>
        <option value="fiction">Children's</option>
        <option value="fiction">Comic Book</option>
        <option value="fiction">Coming-Of-Age</option>
        <option value="fiction">Crime</option>
        <option value="fiction">Drama</option>
        <option value="fiction">Fairytale</option>
        <option value="fiction">Fantasy</option>
        <option value="fiction">Graphic Novel</option>
        <option value="fiction">Historical Fiction</option>
        <option value="fiction">Horror</option>
        <option value="fiction">Mystery</option>
        <option value="fiction">Paranormal Romance</option>
        <option value="fiction">Picture Book</option>
        <option value="fiction">Poetry</option>
        <option value="fiction">Political Thriller</option>
        <option value="fiction">Romance</option>
        <option value="fiction">Satire</option>
        <option value="fiction">Science Fiction</option>
        <option value="fiction">Short Story</option>
        <option value="fiction">Suspense</option>
        <option value="fiction">Thriller</option>
        <option value="fiction">Young Adult</option>
        <option value="nonfiction">Art</option>
        <option value="nonfiction">Autobiography</option>
        <option value="nonfiction">Biography</option>
        <option value="nonfiction">Book Review</option>
        <option value="nonfiction">Cookbook</option>
        <option value="nonfiction">Diary</option>
        <option value="nonfiction">Dictionary</option>
        <option value="nonfiction">Encyclopedia</option>
        <option value="nonfiction">Guide</option>
        <option value="nonfiction">Health</option>
        <option value="nonfiction">History</option>
        <option value="nonfiction">Journal</option>
        <option value="nonfiction">Math</option>
        <option value="nonfiction">Memoir</option>
        <option value="nonfiction">Prayer</option>
        <option value="nonfiction">Religion, Spirtuality, and New Age</option>
        <option value="nonfiction">Textbook</option>
        <option value="nonfiction">Review</option>
        <option value="nonfiction">Science</option>
        <option value="nonfiction">Self Help</option>
        <option value="nonfiction">Travel</option>
        <option value="nonfiction">True Crime</option>
      </select>
    </div>

    <br>

    <div class="form">
      <label for="authorname">Author(s)' Name</label>
      <input type="text" class="form-control" id="authorname">
    </div>

    <br>

    <div class="form">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title">
    </div>

    <br>

    <div class="form">
      <label for="edition">Edition</label>
      <input type="number" class="form-control" id="edition">
    </div>

    <br>

    <div class="form">
      <label for="publisher">Publisher</label>
      <input type="text" class="form-control" id="publisher">
    </div>

    <br>

  <div class="form">
    <label for="year">Publication Year</label>
    <input type="number" class="form-control" id="year">
  </div>

  <br>

  <div class="form">
    <label for="quantity">Quantity-In-Stock</label>
    <input type="number" class="form-control" id="quantity">
  </div>

  <br>

  <div class="form">
    <label for="buying">Buying Price</label>
    <input type="number" class="form-control" id="buying">
  </div>

  <br>

  <div class="form">
    <label for="selling">Selling Price</label>
    <input type="number" class="form-control" id="selling">
  </div>

  <br>

  <button type="submit" class="btn btn-primary">Update</button>
  <a class="btn btn-secondary" href="manage_books.html" role="button">Cancel</a>
  <br><br>
</form>

</div>
</div>
  </div>

  <!--script for id popover-->
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>

  </body>
</html>
